<div class="post" data-id="{{_id}}">
    <div class="col thumbnail">
        <a href="{{url}}">
            <img src="{{imageUrl}}">
        </a>
    </div>
    <div class="post-content">
        <div class="title">
            <a href="{{url}}">
                {{title}}
            </a>
        </div>
        <div class="details">
            {{#if description}}
                <p>{{description}}</p>
            {{else}}
                <p>No description in it’s place</p>
            {{/if}}
            <div class="info">
                submitted {{timePosted}} ago by {{author}}
            </div>
            {{#if isAuthor}}
                <div class="controls">
                    <ul>
                        <li class="action"><a class="editLink" href="#/edit:{{_id}}">edit</a></li>
                        <li class="action"><a class="deleteLink" id="deletePost" href="#/catalog" data-id="{{_id}}">delete</a></li>
                    </ul>
                </div>
            {{/if}}

        </div>
    </div>
    <div class="clear"></div>
</div>