<tr>
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
    <td>{{quantity}}</td>
    <td>{{product.price}}</td>
    <td><button id="discardBtn" data-id="{{_id}}">Discard</button></td>
</tr>